<h4>Menu</h4>
<ul>
  <li><a href="/landmarks/new">Create a new Landmark</a></li>
  <li><a href="/figures/new">Create a new Figure</a></li>
  <li><a href="/landmarks">List Landmarks</a></li>
  <li><a href="/">Homepage</a></li>
</ul>
